
// colours:

$black: #222;
$white: #F4F4F4;

$darkGreen: #374008;
$lightGreen: desaturate(#EDFCA1, 30);
$brightGreen: desaturate(#798F04, 2);
$fadedGreen: desaturate(#F5FDC8, 12);
$brown: #6A644E;

$primary-color: $darkGreen;
$secondary-color: $lightGreen;

// modular scale

$base: 1;
$scale: 1.618;

$step1: $base;
$step2: $step1 * $scale;
$step3: $step2 * $scale;
$step4: $step3 * $scale;
$step5: $step4 * $scale;
$step6: $step5 * $scale;
$step7: $step6 * $scale;
$step-1: $step1 / $scale;
$step-2: $step-1 / $scale;
$step-3: $step-2 / $scale;
$step-4: $step-3 / $scale;
$step-5: $step-4 / $scale;
$step-6: $step-5 / $scale;
$step-7: $step-6 / $scale;

// Fonts

$bodyFont: 'CharisSILRegular', serif;
$headerFont: 'CharisSILRegular', serif;
$scriptFont: 'LoversQuarrelRegular', sans-serif;